.thumbIconSupport {
  margin: 5 px;
  vertical-align: bottom;
  color: #77BB66;
}

.thumbIconAgainst {
  margin: 5 px;
  vertical-align: bottom;
  color: #EA5959;
}

.noEvidence {
  display: flex;
  justify-content: center;
  height: 20vh;
  align-items: center;
  font-size: x-large;
  font-weight: normal;
}