.main {
  background-color: whitesmoke;
  height: 100vh;

  section {
    display: flex;
    justify-content: center;
  }
}

.pageContent {
  height: 85vh;
}

.SearchBar {
  margin-bottom: 2vh;
}

.FilterSearch {
  margin-bottom: 5vh;
  div {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
}