.main {
  background-color: whitesmoke;
  height: 100vh;

  section {
    display: flex;
    justify-content: center;
  }
}

.pageContent {
  height: 85vh;
}

.Date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;

  .DateRange {
    margin-top: 2vh;
    display: flex;
  }

  .QuickDate {
    display: flex;
  }
}


.ResultTable {
  margin-top: 5vh;
  overflow-y: auto;
  height: 100%;
}