.main {
  margin: 0;
  display: flex;
  width: 40vw;
  height: 8vh;
  padding-left: 20px;
  align-items: center;
}

.searchBox {
  width: 60%;
  margin-right: 10% !important;
}

.Picker {
  width: 20%;
  margin-left: 2% !important;
}

.startDate {
  margin-right: 30px !important;
}
