.main {
  margin: 0;
  display: flex;
  width: 40vw;
  height: 5vh;
  padding: 30px;
}

.searchBox {
  width: 60%;
  margin-right: 10% !important;
}

.Picker {
  width: 20%;
  margin-left: 2% !important;
}

.GridContainer {
  width: 30%;
}